.marginTop{
    margin-top: 3rem;
}

.footer{
    width: 100%;
    height: 3rem;
    background-color: #3f51b5;
}
.footerText{
    color: white;
    font-size: 0.7rem !important;
    padding-top:1rem;
    padding-left: 3rem;
}
.footerText a{
    color: white;
}

.MuiTypography-colorTextSecondary {
    color: rgb(0, 0, 0) !important;
}

.answerText{
    font-size: 1rem;
    line-height: 1.5rem;
}
@media screen and (max-width:599px){
    .avatorAnswer{
        display: none;
    }
    .answerList{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .answerText{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #simple-tabpanel-0 .MuiCardContent-root{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #simple-tabpanel-0 .MuiBox-root{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}



.pagination{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: fit-content;
}

#logo{
    width: 10rem;
}

#entry-img{
    width: 15rem;
}

.MuiCardHeader-avatar{
    max-width: 80%;
}

.chip {
    margin: 1px !important;
}

#footer-text{
    margin-left: 5.6rem;
    margin-top: -1.4rem;
}