.philosophy-color{
    background-color: blueviolet !important;
    color: white !important;
}
.sociology-color{
    background-color: rgb(212, 226, 6) !important;
    color: black !important;
}
.ethics-color{
    background-color: green !important;
    color: white !important;
}
.psychology-color{
    background-color: orangered !important;
    color: white !important;
}
.law-color{
    background-color: saddlebrown !important;
    color: white !important;
}
.spirituality-color{
    background-color: gold !important;
    color: black !important;
}
.shariah-color{
    background-color: darkkhaki !important;
    color: black !important;
}
.history-color{
    background-color: rgb(224, 207, 15) !important;
    color: black !important;

}
.science-color{
    background-color: rgb(111, 9, 158) !important;
    color: white !important;

}
.politics-color{
    background-color: rgb(24, 197, 53) !important;
    color: white !important;

}
.quran-color{
    background-color: rgb(85, 57, 57) !important;
    color: white !important;

}
.aqeeda-color{
    background-color: rgb(212, 193, 82) !important;
    color: white !important;

}

.chip{
    margin-left:0.3rem;
}

.MuiCardHeader-subheader{
    float: right;
}

.MuiCardHeader-title{
    display: inline !important;
    vertical-align: middle !important;
}

.MuiCardContent-root {
    padding: 0px 1rem !important;
}